<footer>
  <div class="footer-dark">
    <div class="container">
      <div class="d-flex flex-row">
        <div class="footer-vertical-center">
<!--          <div class="footer-logos"> -->
            
            <div class="footer-logo">
              <img src="/assets/logos/USCMS_SC_logo.png" alt="USCMS logo">
            </div>
               <!--
            <div class="footer-logo">
              <img src="/assets/logos/doe.png" alt="DOE logo">
            </div>
            <div class="footer-logo">
              <img src="/assets/logos/nsf-logo-128.png" alt="NSF logo">
            </div>
            -->
   <!--       </div>   -->
    
        </div>

        <div class="footer-text p-2 ml-auto flex-grow-1 footer-vertical-center">

        </div>
        </div>
      </div>
    </div>
</footer>
