
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><span><img height="64" src="/assets/logos/USCMS_SC_logo.png" alt="U.S. CMS Diversity, Equity and Inclusion"></span>
          U.S. CMS Community and Activities
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/about/overview">Overview</a>
                        <!--
                        <a class="dropdown-item" href="/about/dei_docs">Documents</a>
                        <a class="dropdown-item" href="/about/dei_stats">Statistics</a>
                        -->
                        
                        <a class="dropdown-item" href="{%link pages/website_docs.md%}">Website How To</a>
                        <a class="dropdown-item" href="{%link pages/about/subcommittees.md%}">Sub-Committees</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% assign activities = site.pages | where: "layout", "dei-activity" %}
                        {% for mypage in activities %}
                        <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
                        {% endfor %}
                        <a class="dropdown-item" href="https://sites.google.com/upr.edu/uscms-pursue/home">USCMS Internship</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/resources/leadership_development">Leadership Development</a>
                        <a class="dropdown-item" href="/resources/professional_development">Professional Development</a>
                        <a class="dropdown-item" href="/resources/internships">Internships</a>
                        <a class="dropdown-item" href="/resources/allyship">Allyship Workshop</a>
            
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
